body{
    padding: 0;
    margin: 0;
}
.title {
    color: #5C6AC4;
}

nav{
    background-color: #354e80;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.menu{
    display: flex;
    justify-content: right;
    list-style: none;
    width: 75%;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #dd;
}

.search{
    display: flex;
    align-items: center;
}

.menu li a:hover{
    color: #ccc;
}

.search input{
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-right: 15px;
}

.search button{
    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;

}

.search button:hover{
    color: #ccc;
    border: 2px solid #ddd;
    background-color: #dddddd;
}
